<div class="container-fluid">
  <div class="row">
    <div class=" col-md-offset-9">
      <div id="marquee">
        <img src="../assets/img/marquee.png" alt="Marquee" height="170px" width="340px">
      </div>
    </div> <!--closes marquee div-->
  </div>

    <div class="chips">
      <img id="oneDollarChip" src="/assets/img/oneDollarChip.png" alt="One Dollar Chip">
      <img id="fiveDollarChip" src="/assets/img/fiveDollarChip.png" alt="Five Dollar Chip">
      <img id="twentyFiveDollarChip" src="/assets/img/twentyFiveDollarChip.png" alt="Twenty Five Dollar Chip">
      <img id="oneHundredDollarChip" src="/assets/img/oneHundredDollarChip.png" alt="Five Dollar Chip">
      <img id="fiveHundredDollarChip" src="/assets/img/fivehundredDollarChip.png" alt="Five Dollar Chip">
    </div> <!--closes chips div-->
</div> <!--closes container-fluid div-->