<div class="container-fluid">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6" id="moving">
        <div id="dealerHand">
          <div class="dealerCards">
            <div id="dealerHiddenCard"></div>
            <div id="dealerFaceCard" ></div>
          </div><!--closes dealerCards-->
        </div><!--closes col-md-12-->
      </div> <!--closes col-md-6-->
    <div class="col-md-3"></div>
  </div>

  <div class="row">
    <div class="col-md-9"></div>
    <div class="col-md-3" id="marquee">
      <img src="/assets/img/marquee.png" alt="Marquee" height="170px" width="340px">
      <p id="accountBalance">
        Account Balance: 
        <span id="amount"></span>
      </p> 
    </div><!--closes marquee div-->
  </div> <!--closes col-md-3-->
<div class="row">

</div> <!--closes first row-->
<div class="row middle-row">
  <div class="col-md-3"></div>

  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12" id="playerHand">
        <div class="playerCards">
        </div><!--closes playerCards-->
      </div><!--closes col-md-12-->
    </div><!--closes row-->
  </div> <!--closes col-md-6-->
  <div class="row">
  <div class="col-md-12 buttons" id="buttons1"> 
    <button id="deal" class="blue">Deal</button>
    <button id="hit" class="green">Hit</button>
    <button id="stand" class="red" >Stand</button>
    <button id="playAgain" class="orange" >Play Again</button>
  </div>
</div><!--closes row-->

<div class="row bottom-row">
  <div class="col-md-3">
    <div id="wagerBox">
      <p id="betAmount">
        Click Chips to place your bet!
      </p>

      <img id="wagerBoxContent" src="/assets/img/box.png" alt="Wager Box">
    </div>

    <div class="chips">
      <img id="oneDollarChip" src="/assets/img/one.png" alt="One Dollar Chip" data-value="1">
      <img id="fiveDollarChip" src="/assets/img/five.png" alt="Five Dollar Chip" data-value="5">
      <img id="twentyFiveDollarChip" src="/assets/img/twentyfive.png" alt="Twenty Five Dollar Chip" data-value="25">
      <img id="oneHundredDollarChip" src="/assets/img/onehundred.png" alt="One Hundred Dollar Chip" data-value="100">
      <img id="fiveHundredDollarChip" src="/assets/img/fivehundred.png" alt="Five Hundred Dollar Chip" data-value="500">
    </div><!--closes chips div-->
  </div>

  <div class="col-md-6"></div>

  <div class="col-md-3"></div>
</div><!--closes row-->

<div id="playerBusted">You Busted!</div>
<div id="dealerBusted">Dealer Busted!</div>
<div id="winner">You Win!</div>
<div id="loser">You Lose!</div>
<div id="blackjack">BlackJack! You Win!</div>
<div id="dealerBlackjack">Dealer has 21. You Lose.</div>
<div id="tie">Push!</div>