<div class="container">
  <h2 class="page-header">Account Registration</h2> 

  <hr>

  <form id="signup" name="signup" method="post" action="/register">
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" placeholder="John" name="firstname">
    </div>

    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" placeholder="Smith" name="lastname">
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" placeholder="Email" name="email">
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" placeholder="Password" name="password">
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>