<div id="marquee" method="POST" action="/">
    <p id="accountBalance">Account Balance: $ {{{account-balance}}}</p>
    <p id="accountBalance">Win Amount: $ {{{account-balance+betAmount}}} </p>
    <p id="accountBalance">You Lost: $ {{{account-balance-betAmount}}} </p>
    <button type="submit" data-value="1000" class="btn btn-default">Take %1,000 from bank</button>
</div>